{% extends 'base.html.twig'%}
{% block body %}
    <table id="listeSites" class="table table-striped table-bordered" cellspacing="0" style="width:100%" >
        <thead>
            <tr>
                <th><label>Site</label></th>
            </tr>
        </thead>
        <tbody>
            {% for site in listeSites %}
                <tr>
                    <td>{{site.nomSite}}</td>
                </tr>
            {% endfor %}
    </table>
    {# JavaScripts #}
        
            
    {# end JavaScripts #}
{% endblock %}