{% extends "base.html.twig"%}
{% block body %}
    <h3>Detail constructeur </h3>
    <ul class="list-group">
        <li class="list-group-item"><label>Nom constructeur: </label>{{constructeur.nomConstructeur}}</li>        
    </ul>
{% endblock%}