<!DOCTYPE html>

<html>
    <head>
        <title>Menu principal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="OPT/EquipementsBundle/Ressources/library/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <script src="OPT/EquipementsBundle/Ressources/library/jquery/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="OPT/EquipementsBundle/Ressources/library/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
        
        <div>Menu principal</div>
        
        <div class="btn-group-vertical" role="group" aria-label="...">
        
            <button type="button" class="btn btn-default">Equipements</button>
            <button type="button" class="btn btn-default">Sites</button>
            <button type="button" class="btn btn-default">Contrats</button>
            <button type="button" class="btn btn-default">Constructeurs</button>
        </div>
        
    </body>
</html>
