<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <th><label>Model</label></th>
                <th><label>Série</label></th>
                <th><label>Type</label></th>
                <th><label>Numéro immo</label></th>
                <th><label>Nom Logique</label></th>
                <th><label>Date fin garantie</label></th>
                <th><label>Type équipement</label></th>
                <th><label>Contenu dans</label></th>            
                <th><label>Commentaire</label></th>
                <th><label>Salle</label></th>
                <th><label>Site</label></th>
                <th><label>U départ</label></th>
                <th><label>Nombre U</label></th>
                <th><label>Installé par</label></th>
                <th><label>Date début contrat</label></th>
                <th><label>Date création</label></th>
                <th><label>Date modification</label></th>
                <th><label>Constructeur</label></th>
                <th><label>Contrat</label></th>
                <th><label>Remarques</label></th>
                <th><label>Actif</label></th>
                <th><label>Actions</label></th>
    </thead>
    <tfoot>
        <th><label>Model</label></th>
                <th><label>Série</label></th>
                <th><label>Type</label></th>
                <th><label>Numéro immo</label></th>
                <th><label>Nom Logique</label></th>
                <th><label>Date fin garantie</label></th>
                <th><label>Type équipement</label></th>
                <th><label>Contenu dans</label></th>            
                <th><label>Commentaire</label></th>
                <th><label>Salle</label></th>
                <th><label>Site</label></th>
                <th><label>U départ</label></th>
                <th><label>Nombre U</label></th>
                <th><label>Installé par</label></th>
                <th><label>Date début contrat</label></th>
                <th><label>Date création</label></th>
                <th><label>Date modification</label></th>
                <th><label>Constructeur</label></th>
                <th><label>Contrat</label></th>
                <th><label>Remarques</label></th>
                <th><label>Actif</label></th>
                <th><label>Actions</label></th>
    </tfoot>
</table>

<script>
    $(#liste).Da
</script>
    
